.nav-container{
    display: flex;


}

.header-section{

    
}

.info-section{
    background-color: white;
    padding-top: 50px;
    padding-left: 15px;
    



.Grow-card{
    margin-left: 60px;
    width: 90%;
    height: 200px;
    box-shadow: 5px 5px 15px lightgray;
    border-radius: 5px;
    background-image: url("/images/illustration-grow-together.svg");
    display: flex;
    text-align: center;
    gap: 20px;

}

.Flow-card{
    margin-left: 60px;
    width: 90%;
    box-shadow:5px 5px 10px lightgray;
    border-radius: 5px;
    height: 150px;
}

.your-card{
    margin-left:60px;
    width: 90%;
    box-shadow: 5px 5px 15px lightgray;
    border-radius: 10px;
    height: 150px;
}

}
