.nav-container{
    display: flex;
    position: absolute;
}

.intro-section{
    background-color: white;
}

.Grow-card{
    width: 90%;
    height: 150px;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    background-image: url("/public/images/illustration-grow-together.svg");

}

.Flow-card{
    width: 90%;
    box-shadow:5px 5px 10px lightgray;
    border-radius: 10px;
    height: 150px;
}

.your-card{
    width: 90%;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    height: 150px;
}
