.nav-menu{

}

.intro-container{
    display: flex;
}

.info-section{
    background-color: white;
    padding-top: 50px;
    padding-left: 15px;
    margin-top: 25px;



.Grow-card{
    display: flex;
    margin-left: 4%;
    width: 90%;
    height: 350px;
    box-shadow: 0 1px 8px  lightgray;
    border-radius: 9px;

    &__image{
        width: 100px;
        height: 50px;
    }
}

.Flow-card{
    display: flex;
    background-image: url("./public/images/illustration-flowing-conversation.svg");
    margin-left: 4%;
    width: 90%;
    box-shadow:0 1px 5px lightgray;
    border-radius: 15px;
    height: 350px;
}

.Your-card{
    display: flex;
    background-image: url("./public/images/illustration-your-users.svg");
    margin-left:4%;
    width: 90%;
    box-shadow: 0 1px 5px lightgray;
    border-radius: 15px;
    height: 340px;
}

}
.bottom-section{
    display: flex;
    width: 50%;
    height: 210px;
    box-shadow: 0 1px 5px lightgray;
    margin-left: 4%;
    border-radius: 15px;
    position: absolute;


    &__content-card{
        display: flex;
        width: 50%;
        padding-left: 25px;
    }
}
