/*****font****/
$font-btn-color:#fff;


/****font-stack****/
$font-stack-1:'open-sans',sans-serif;
$font-stack-2:'poppins',sans-serif;



//body
body{
    font-family:$font-stack-1;
    background-image: url("./public/images/bg-hero-desktop.svg");
    background-image: url("./public/images/illustration-mockups.svg");
    margin: 0;
}

/******heading*****/






/*****paragraphs****/
.Grow,
.flow,
.Your{
    font-size: 14px;
}