/*****font****/
$font-btn-color:#fff;






//body
body{
    font-family:'open-sans',sans-serif;
    background-image: url("./images/bg-hero-desktop.svg");
    background-image: url("./images/illustration-mockups.svg");
    margin: 0;
    background-image: url("./images/illustration-mockups.svg");

}