/*****font****/
$font-btn-color:#fff;


/****font-stack****/
$font-stack-1:'open-sans',sans-serif;
$font-stack-2:'poppins',sans-serif;



//body
body{
    font-family:$font-stack-1;
    margin: 0;
}

/******heading*****/
.intro,
.Grow,
.Flow,
.Your{
    font-family: $font-stack-2;
    font-weight:600px;
}





/*****paragraphs****/